
.swiper {
  max-width: 856px;
  margin: 0 auto 45px;
}

.swiper-pagination {
  right: 12px;
  left: unset !important;
  bottom: 14px !important;
  width: fit-content !important;

  &-bullet {
    background-color: $white !important;
    opacity: 1 !important;
    width: 15px !important;
    height: 15px !important;

    &-active {
      background-color: $black !important;
    }
  }
}